<button (click)="nodeItem.toggleVisibiliy($event.target)" >{{nodeItem.isVisible?'-':'+'}}</button>
<table *ngIf="nodeItem.isVisible" style="text-align:center;">
  
    <tr style="text-align:center;">
      <td [attr.colspan]="nodeItem.children.length+1">
        <div class="nodeCell" [ngClass]="{'rootCell':!nodeItem.parent,'orNode':nodeItem.type=='OR','andNode':nodeItem.type=='AND'}">
          <input style = "width:40px;text-align:center;"
           placeholder = "new" [value]="nodeItem.label" (input)="nodeItem.label = $event.target.value">
        </div>
        <div class="nodeCell">
          <button (click)="addToNode(nodeItem)">Add</button>
          <button *ngIf="nodeItem.parent"(click)="delete(nodeItem)">Delete</button>
        </div>
      </td>
    </tr>
    <tr *ngIf="nodeItem.children.length > 0">
      <td *ngFor="let child of nodeItem.children; let isEven=even;"colspan="1">
        <node [nodeItem]="child">
        </node>
        
      </td>
    </tr>
</table>
